body{
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}


.App {
  text-align: center;
  background-color: yellow;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  

}
