body{
  background-color: black;
  display:flex;
  justify-content: center;


}

button{
  flex:1;
}

.row{
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  align-items: flex-end;
}

#calc-container{
background-color: green;
/* display:flex;
flex-direction: column; */
}

#row1 {
  background-color: white;

}
#row2 {
  background-color: blue;

}
#row3 {
  background-color: pink;

}
#row4 {
  background-color: purple;
;
}
#row5 {
  background-color: red;

}
